Repository geops/pygtfslib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, pip-compile, pip-compile-dev-requirements

black:
  name: black
  entry: black
  language: python

mypy:
  name: mypy
  entry: mypy
  language: python
  pass_filenames: false

pip-compile:
  name: pip-compile
  entry: pip-compile pyproject.toml
  language: python
  pass_filenames: false

pip-compile-dev-requirements:
  name: pip-compile-dev-requirements
  entry: pip-compile dev-requirements.in
  language: python
  pass_filenames: false

Add license, author, classifiers, etc.
  LICENSE
  MANIFEST.in
  README.md
  pygtfslib/fast_csv.py
  pyproject.toml
Due: black, mypy, pip-compile

Add method to check for existence of qualified opdays without calculating all opdays
  pygtfslib/temporal.py
Due: black, mypy

Use map instead of filter when result is not needed
  pygtfslib/temporal.py
Due: black, mypy

Add test for TripOpDayProvider
  pygtfslib/test/test_temporal.py
Due: black, mypy

Increase required test coverage
  .gitlab-ci.yml
  README.md
Due: none

Apply suggestions from review
  pygtfslib/test/test_temporal.py
Due: black, mypy

[IW-1460] Define cache key CI_JOB_NAME
  .gitlab-ci.yml
Due: none

[IW-1460] Move general before_script (deprecated) to default section
  .gitlab-ci.yml
Due: none

Tolerate whitespaces when parsing dates
  pygtfslib/temporal.py
Due: black, mypy

upgrade to bookworm/python3.11
  .gitlab-ci.yml
  README.md
  dev-requirements.txt
  requirements.txt
Due: pip-compile, pip-compile-dev-requirements

update image path to new registry
  .gitlab-ci.yml
Due: none

Add extended route types for taxi (bus, rail, ferry)
  pygtfslib/mot.py
Due: black, mypy

Path conditions:
  black: any of: .*\.py$
  mypy: any of: .*\.py$
  pip-compile: any of: pyproject\.toml|requirements\.txt
  pip-compile-dev-requirements: any of: (dev-)?requirements\.(in|txt)
